hmtl, body {
     background-color: white;
}
 #navbar {
     height: 100%;
     width: 250px;
     position: fixed;
     z-index: 1;
     top: 0px;
     left: 0px;
     overflow-x: hidden;
     border-right: solid;
}
 .nav-link {
     font-family: cursive;
     text-decoration: none;
     list-style: none;
}

 .nav-link li{
     border-right: solid;
     display: block;
     list-style-type: disc;
     margin-block-start: 1px;
     margin-block-end: 1px;
     margin-inline-end: 2px;
     margin-inline-start: 2px;
     font-size: 30px;
     padding: 5px 0 5px 50px;
     position: relative;
     left: -39px;
     width: 199px;
     background-color: gray;
     color: white;
}

 li:hover{
     color: black;
}
 header{
     text-align: center;
     margin: 0px;
     padding: 0px;
     font-size: 40px;
}
 #main-doc{
     background-color: white;
     text-align: left;
     margin-left: 246px;
     margin-top: -7px;
     font-size: 28px;
     padding-left: 40px;
     padding-bottom: 90px;
     padding-top: 20px;
     max-width: 900px;
}
 blockquote{
     padding: 10px;
     background-color: #DCDCDC;
     min-width: 300px;
     max-width: 600px;
     margin-left: 10%;
}
 #r_links{
     color: red;
     text-decoration: none;
}
 footer {
     z-index: 0;
     width: 100%;
     height: 300px;
     background-color: black;
     color: white;
}

#footer_div{
 text-align: center;
 padding-top: 15vh;
 font-size: 40px;
}

@media only screen and (max-width: 600px) {
 blockquote{
  margin-left: 0px;
 }
} 