hmtl{
    background-color: red;
}

body{
    background-color: #e6e6e6;
}

#navbar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background-color: pink;
  overflow-x: hidden;
  border-right: solid;
 
 
}

.nav-link {
    text-decoration: none;
    list-style: none;
}

ul{
   
 background-color: black;
}

.nav-link li{
 border-right: solid;
 display: block;
 list-style-type: disc;
 margin-block-start: 1px;
 margin-block-end: 1px;
 margin-inline-end: 2px;
 margin-inline-start: 2px;     
 font-size: 30px;
 padding: 5px 0 5px 50px;
 position: relative;
 left: -39px;
 width: 199px;
 background-color: gray;
 color: white;

}


li:hover{
    color: blue;
  
}

header{
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 40px;
}
#main-doc{
    background-color: cyan;
    text-align: left;
    margin-left: 246px;
    margin-top: -7px;
    font-size: 28px;
    padding-left: 40px;
   
}

blockquote{
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    padding: 10px;
    background-color: silver;
    min-width: 300px;
    max-width: 600px;
}